#!/bin/bash

repos=$1
vcs=$2
proj=$3

dir=$(dirname $(readlink -f $0))
prog=$dir/hooks/$vcs/{{ item }}
url="{{ redmine_protocol }}://{{ redmine_host_name }}{{ redmine_url_root }}"

test ! -x $prog || $prog $repos $proj $url || exit 1
