PerlLoadModule Apache::Authn::Redmine
PerlLoadModule Authen::Simple::LDAP

# RequestHeader edit Destination ^https: http: early

<Location {{ scm_svn_url_root }}>
  PerlAccessHandler Apache::Authn::Redmine::access_handler
  PerlAuthenHandler Apache::Authn::Redmine::authen_handler

  DAV svn

  SVNParentPath {{ scm_svn_repos_path }}

  AuthType Basic
  AuthName "Subversion"
  AuthUserFile /dev/null

  RedmineDSN "DBI:Pg:database=redmine;host=localhost"
  RedmineDbUser "redmine"
  RedmineDbPass "{{ db_passwd_redmine }}"

  # RedmineCacheCredsMax 100

  Require valid-user
</Location>

ScriptAlias {{ scm_git_url_root }} {{ scm_git_http_backend }}

<Location {{ scm_git_url_root }}>
  SetEnv GIT_PROJECT_ROOT {{ scm_git_repos_path }}
  SetEnv GIT_HTTP_EXPORT_ALL
  SetEnv REMOTE_USER $REDIRECT_REMOTE_USER

  PerlAccessHandler Apache::Authn::Redmine::access_handler
  PerlAuthenHandler Apache::Authn::Redmine::authen_handler

  AuthType Basic
  AuthName "Git"
  AuthUserFile /dev/null

  RedmineDSN "DBI:Pg:database=redmine;host=localhost"
  RedmineDbUser "redmine"
  RedmineDbPass "{{ db_passwd_redmine }}"

  RedmineGitSmartHttp yes

  Require valid-user
</Location>
