production:
  auto_create: true
  deny_delete: true
  svn:
    path: {{ scm_svn_repos_path }}
    svnadmin: /usr/bin/svnadmin
    url: {{ scm_svn_url_root | regex_replace('^/', '') }}
  git:
    path: {{ scm_git_repos_path }}
    git: /usr/bin/git
    options: --bare
    url: {{ scm_git_url_root | regex_replace('^/', '') }}
    update_server_info: true
    git_ext: true
