[redmine_servers:children]
centos
ubuntu
debian

[centos]
localhost ansible_connection=local
10.0.0.1 ansible_ssh_user=centos

[ubuntu]
10.0.0.2 ansible_ssh_user=ubuntu

[debian]
10.0.0.3 ansible_ssh_user=debian
