#!/bin/bash -e

repos=$1
proj=$2

tmpdir=$(mktemp -d)

# Initializes repository
svn co file://$repos $tmpdir
svn mkdir $tmpdir/trunk $tmpdir/branches $tmpdir/tags
svn commit --username=admin -m '' $tmpdir
rm -rf $tmpdir

# Creates hook script
hook=$repos/hooks/pre-commit
cat <<'EOF' > $hook
#!/bin/sh

REPOS="$1"
TXN="$2"
PREFIX="#"

SVNLOOK=/usr/bin/svnlook
$SVNLOOK log -t "$TXN" "$REPOS" | egrep "$PREFIX"'[1-9][0-9]*' > /dev/null

if [ "$?" != "0" ]; then
    echo "No issue number" >&2
    exit 1
fi

exit 0
EOF

chmod 755 $hook
