0 1 * * * root {{ backup_script_path }}/redmine.sh {{ backup_dir }}/redmine/\%Y/\%m/\%d
0 1 * * * root {{ backup_script_path }}/svn.sh {{ backup_dir }}/svn/\%Y/\%m/\%d
0 1 * * * root {{ backup_script_path }}/git.sh {{ backup_dir }}/git/\%Y/\%m/\%d
